.moon-phase-content {
    display: none;
}

.phase-title::before {
    content: ' ►'; 
    display: inline-block;
    margin-right: 5px;
    transform: rotate(0deg); 
    transition: transform 0.3s; 
}

.phase-title.open::before {
    transform: rotate(90deg); 
}

.phase-article {
    border: 1px solid #000;
}

#moonphases {
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%; 
}

#moon-icon{
    width: 2em;
    height: 2em;
}

#moon-current {
    background-color: white;
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%; 
    text-align: center;
}

#moonimage {
    width: 50%;
    margin: 0;
    padding: 0;
    height: 50%;
    display: inline-block; 
}
